//feedback form is not used. It is my own creation w/out css yet

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Feedback Page</title>
  <link rel="stylesheet" href="App.css">
</head>
<body>
  <div class="wrapper">
    <div class="contact-form">
      <div class="input-fields">
        <input type="text" class="input" placeholder="="Name">
        <input type="text" class="input" placeholder="="Email">
        <input type="text" class="input" placeholder="="Subject">
      </div>
      <div class="message">
        <textarea placeholder="Message"></textarea>
        <div class="btn">Send</div>
      </div>
    </div>
  </div>
  
</body>
</html>
